OldbaseALELIS/StargateALELIS/Connected Services/FighterServiceReference/FighterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelALELIS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelALELIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Fighter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Shield" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fighter" nillable="true" type="tns:Fighter" />
  <xs:complexType name="ArrayOfFighter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fighter" nillable="true" type="tns:Fighter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFighter" nillable="true" type="tns:ArrayOfFighter" />
</xs:schema>