OldbaseALELIS/StargateALELIS/Connected Services/FighterServiceReference/FighterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57159/FighterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelALELIS" />
  <xs:element name="GetFighter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFighterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelALELIS" minOccurs="0" name="GetFighterResult" nillable="true" type="q1:Fighter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFighter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelALELIS" minOccurs="0" name="fighter" nillable="true" type="q2:Fighter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFighterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFighterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFighters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFightersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelALELIS" minOccurs="0" name="GetAllFightersResult" nillable="true" type="q3:ArrayOfFighter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>