OldbaseALELIS/StargateALELIS/Connected Services/FighterServiceReference/FighterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FighterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57159/FighterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57159/FighterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57159/FighterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelALELIS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFighterService_GetFighter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFighter" />
  </wsdl:message>
  <wsdl:message name="IFighterService_GetFighter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFighterResponse" />
  </wsdl:message>
  <wsdl:message name="IFighterService_CreateFighter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFighter" />
  </wsdl:message>
  <wsdl:message name="IFighterService_CreateFighter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFighterResponse" />
  </wsdl:message>
  <wsdl:message name="IFighterService_GetAllFighters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFighters" />
  </wsdl:message>
  <wsdl:message name="IFighterService_GetAllFighters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFightersResponse" />
  </wsdl:message>
  <wsdl:portType name="IFighterService">
    <wsdl:operation name="GetFighter">
      <wsdl:input wsaw:Action="http://tempuri.org/IFighterService/GetFighter" message="tns:IFighterService_GetFighter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFighterService/GetFighterResponse" message="tns:IFighterService_GetFighter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFighter">
      <wsdl:input wsaw:Action="http://tempuri.org/IFighterService/CreateFighter" message="tns:IFighterService_CreateFighter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFighterService/CreateFighterResponse" message="tns:IFighterService_CreateFighter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFighters">
      <wsdl:input wsaw:Action="http://tempuri.org/IFighterService/GetAllFighters" message="tns:IFighterService_GetAllFighters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFighterService/GetAllFightersResponse" message="tns:IFighterService_GetAllFighters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFighterService" type="tns:IFighterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFighter">
      <soap:operation soapAction="http://tempuri.org/IFighterService/GetFighter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFighter">
      <soap:operation soapAction="http://tempuri.org/IFighterService/CreateFighter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFighters">
      <soap:operation soapAction="http://tempuri.org/IFighterService/GetAllFighters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FighterService">
    <wsdl:port name="BasicHttpBinding_IFighterService" binding="tns:BasicHttpBinding_IFighterService">
      <soap:address location="http://localhost:57159/FighterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>